<%= simple_form_for(resource, html: { class:'login-form'}, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <div class="text-center">
    <%= f.error_notification %>
  </div>

  <%= f.input :reset_password_token, as: :hidden %>
  <%= f.full_error :reset_password_token %>

  <div class="form-inputs">
    <%= f.input :password,
                label: false,
                placeholder: "New password with at #{@minimum_password_length} characters minimum",
                required: true,
                autofocus: true,
                #hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                label: false,
                placeholder: "Confirm your new password",
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <%= render 'devise/shared/button_submit', f: f, text: 'Alterar senha'%>

<div class="form-group d-md-flex">
    <div class="w-100 text-md-right">
      <%= render "devise/shared/links" %>
    </div>
  </div>

<% end %>
